In [214]:
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
import datetime as dt
from config import db_password
from sklearn import preprocessing

In [215]:
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/sf_abnb"

In [216]:
engine = create_engine(db_string)

In [217]:
import sqlite3
conn=sqlite3.connect('sf_abnb')
df1= pd.read_sql_query("SELECT * FROM sflistings", con=engine)
df1.head()

,id,host_since,host_response_time,host_response_rate,host_is_superhost,host_listings_count,host_total_listings_count,host_identity_verified,neighbourhood_cleansed,zipcode,...,review_scores_value,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month,host_days_active,time_since_first_review,time_since_last_review
0,958,7/31/2008,within a few hours,100%,1,1,1,1,Western Addition,94115,...,9.0,1,1,1,0,0,1.60,3958,4+ years,17
1,7918,6/17/2009,within a few hours,100%,0,10,10,1,Haight Ashbury,94117,...,8.0,0,9,0,9,0,0.14,3637,4+ years,923
2,8142,6/17/2009,within a few hours,100%,0,10,10,1,Haight Ashbury,94117,...,9.0,0,9,0,9,0,0.14,3637,4+ years,263
3,8339,7/2/2009,within an hour,100%,0,2,2,1,Western Addition,94115,...,9.0,0,2,2,0,0,0.23,3622,4+ years,295
4,8739,1/27/2009,within an hour,100%,1,2,2,0,Mission,94110,...,10.0,1,2,0,2,0,5.61,3778,4+ years,12

In [218]:
df1.columns.tolist()

['id',
 'host_since',
 'host_response_time',
 'host_response_rate',
 'host_is_superhost',
 'host_listings_count',
 'host_total_listings_count',
 'host_identity_verified',
 'neighbourhood_cleansed',
 'zipcode',
 'latitude',
 'longitude',
 'property_type',
 'room_type',
 'accommodates',
 'bathrooms',
 'bedrooms',
 'beds',
 'price',
 'minimum_nights',
 'maximum_nights',
 'calendar_updated',
 'availability_30',
 'availability_60',
 'availability_90',
 'availability_365',
 'number_of_reviews',
 'number_of_reviews_ltm',
 'first_review',
 'review_scores_rating',
 'review_scores_accuracy',
 'review_scores_cleanliness',
 'review_scores_checkin',
 'review_scores_communication',
 'review_scores_location',
 'review_scores_value',
 'instant_bookable',
 'calculated_host_listings_count',
 'calculated_host_listings_count_entire_homes',
 'calculated_host_listings_count_private_rooms',
 'calculated_host_listings_count_shared_rooms',
 'reviews_per_month',
 'host_days_active',
 'time_since_first_review',
 'time_since_last_review']

In [219]:
df1.dtypes

id                                                int64
host_since                                       object
host_response_time                               object
host_response_rate                               object
host_is_superhost                                 int64
host_listings_count                               int64
host_total_listings_count                         int64
host_identity_verified                            int64
neighbourhood_cleansed                           object
zipcode                                           int64
latitude                                        float64
longitude                                       float64
property_type                                    object
room_type                                        object
accommodates                                      int64
bathrooms                                       float64
bedrooms                                          int64
beds                                              int64
price                                             int64
minimum_nights                                    int64
maximum_nights                                    int64
calendar_updated                                 object
availability_30                                   int64
availability_60                                   int64
availability_90                                   int64
availability_365                                  int64
number_of_reviews                                 int64
number_of_reviews_ltm                             int64
first_review                                     object
review_scores_rating                            float64
review_scores_accuracy                          float64
review_scores_cleanliness                       float64
review_scores_checkin                           float64
review_scores_communication                     float64
review_scores_location                          float64
review_scores_value                             float64
instant_bookable                                  int64
calculated_host_listings_count                    int64
calculated_host_listings_count_entire_homes       int64
calculated_host_listings_count_private_rooms      int64
calculated_host_listings_count_shared_rooms       int64
reviews_per_month                               float64
host_days_active                                  int64
time_since_first_review                          object
time_since_last_review                            int64
dtype: object

In [220]:
df1['host_since'] = pd.to_numeric(df1.host_since.str.replace('/',''))

In [221]:
df1.head()

,id,host_since,host_response_time,host_response_rate,host_is_superhost,host_listings_count,host_total_listings_count,host_identity_verified,neighbourhood_cleansed,zipcode,...,review_scores_value,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month,host_days_active,time_since_first_review,time_since_last_review
0,958,7312008,within a few hours,100%,1,1,1,1,Western Addition,94115,...,9.0,1,1,1,0,0,1.60,3958,4+ years,17
1,7918,6172009,within a few hours,100%,0,10,10,1,Haight Ashbury,94117,...,8.0,0,9,0,9,0,0.14,3637,4+ years,923
2,8142,6172009,within a few hours,100%,0,10,10,1,Haight Ashbury,94117,...,9.0,0,9,0,9,0,0.14,3637,4+ years,263
3,8339,722009,within an hour,100%,0,2,2,1,Western Addition,94115,...,9.0,0,2,2,0,0,0.23,3622,4+ years,295
4,8739,1272009,within an hour,100%,1,2,2,0,Mission,94110,...,10.0,1,2,0,2,0,5.61,3778,4+ years,12

In [222]:
pd.read_sql_query("SELECT host_response_rate FROM sflistings", con=engine)

      host_response_rate
0                   100%
1                   100%
2                   100%
3                   100%
4                   100%
...                  ...
10147               100%
10148            unknown
10149            unknown
10150               100%
10151               100%

[10152 rows x 1 columns]

In [223]:
pd.read_sql_query("SELECT price FROM sflistings", con=engine)

       price
0        170
1         65
2         65
3        685
4        139
...      ...
10147    118
10148    309
10149    169
10150    205
10151    381

[10152 rows x 1 columns]

In [224]:
df1["price"].head()

0    170
1     65
2     65
3    685
4    139
Name: price, dtype: int64

In [225]:
x = df1.price.values.reshape(-1, 1)
from sklearn.preprocessing import Binarizer
#Median value of price column values is 150
binarizer = Binarizer(threshold = 150)
df1["price"] = binarizer.fit_transform(x)
df1["price"].head(10)

0    1
1    0
2    0
3    1
4    0
5    0
6    1
7    1
8    0
9    0
Name: price, dtype: int64

In [226]:
df1["price"].head()

0    1
1    0
2    0
3    1
4    0
Name: price, dtype: int64

In [227]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df2 = df1.copy()
cols = ['host_response_time','host_response_rate','neighbourhood_cleansed','property_type','room_type','calendar_updated','time_since_first_review','first_review']
df2[cols] = df2[cols].apply(LabelEncoder().fit_transform)
df2.head()

,id,host_since,host_response_time,host_response_rate,host_is_superhost,host_listings_count,host_total_listings_count,host_identity_verified,neighbourhood_cleansed,zipcode,...,review_scores_value,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month,host_days_active,time_since_first_review,time_since_last_review
0,958,7312008,3,1,1,1,1,1,35,94115,...,9.0,1,1,1,0,0,1.60,3958,3,17
1,7918,6172009,3,1,0,10,10,1,11,94117,...,8.0,0,9,0,9,0,0.14,3637,3,923
2,8142,6172009,3,1,0,10,10,1,11,94117,...,9.0,0,9,0,9,0,0.14,3637,3,263
3,8339,722009,4,1,0,2,2,1,35,94115,...,9.0,0,2,2,0,0,0.23,3622,3,295
4,8739,1272009,4,1,1,2,2,0,16,94110,...,10.0,1,2,0,2,0,5.61,3778,3,12

In [231]:
y = df2["price"]
X = df2.drop(columns="price")

In [232]:
from sklearn.preprocessing import StandardScaler
data_scaler = StandardScaler()
df_scaled = data_scaler.fit_transform(X)

In [233]:
df_scaled[:5]

array([[-1.35815688e+00,  5.71792466e-01, -1.37134874e-01,
        -5.87577495e-01,  9.82811219e-01, -1.86816151e-01,
        -1.86816151e-01,  5.83416632e-01,  1.73453087e+00,
         1.12766493e-01,  2.06818229e-01, -8.11553862e-01,
        -1.91877907e+00, -7.83445379e-01, -1.15982970e-01,
        -4.15343029e-01, -4.93990341e-01,  1.57835207e-01,
        -4.15537829e-01, -3.91387962e-01, -1.41465255e+00,
        -6.75754821e-01, -7.98388207e-01, -8.67689968e-01,
        -4.06609654e-01,  1.53954347e+00,  1.91267695e+00,
         7.79632251e-01,  1.02084939e+00,  1.05899105e+00,
         1.10675021e+00,  1.03733692e+00,  1.04186766e+00,
         1.10522326e+00,  7.92178396e-01,  1.38676646e+00,
        -3.22261190e-01, -2.14798691e-01, -3.67119199e-01,
        -1.52586511e-01, -9.62712737e-02,  2.39605600e+00,
         2.14609503e-01,  4.04749346e-01],
       [-1.35767357e+00,  2.88599117e-01, -1.37134874e-01,
        -5.87577495e-01, -1.01748940e+00, -1.38418530e-01,
        -1.38418530e-01,  5.83416632e-01, -5.26216003e-01,
         3.48638634e-01,  8.82073944e-02, -8.11791668e-01,
        -1.91877907e+00,  1.20692937e+00, -6.37675086e-01,
         3.08872548e+00, -4.93990341e-01, -6.69394023e-01,
         4.87721170e-01, -3.64694023e-01, -1.55257266e+00,
         2.24290643e+00,  1.97866266e+00,  1.83337420e+00,
         1.75740898e+00, -4.72561537e-01, -6.29331723e-01,
         1.19553595e+00,  7.59048831e-01,  2.75088889e-01,
         3.14238196e-01,  6.42843384e-01,  6.48868405e-01,
         7.05454050e-01,  3.87647932e-01, -7.21101950e-01,
        -6.04026127e-02, -2.48513441e-01,  7.76247435e-01,
        -1.52586511e-01, -4.45863872e-01,  2.05093721e+00,
         2.14609503e-01,  2.14868042e+00],
       [-1.35765802e+00,  2.88599117e-01, -1.37134874e-01,
        -5.87577495e-01, -1.01748940e+00, -1.38418530e-01,
        -1.38418530e-01,  5.83416632e-01, -5.26216003e-01,
         3.48638634e-01,  5.81360867e-03, -8.11783120e-01,
        -1.91877907e+00,  1.20692937e+00, -6.37675086e-01,
         3.08872548e+00, -4.93990341e-01, -6.69394023e-01,
         4.87721170e-01, -3.38000084e-01, -1.55257266e+00,
         3.30680092e-01,  1.05297904e+00,  1.21505830e+00,
         1.60679962e+00, -5.76041223e-01, -5.83938711e-01,
         1.57927030e+00,  9.33582540e-01,  6.67039968e-01,
         7.10494203e-01,  1.03733692e+00,  1.04186766e+00,
         7.05454050e-01,  7.92178396e-01, -7.21101950e-01,
        -6.04026127e-02, -2.48513441e-01,  7.76247435e-01,
        -1.52586511e-01, -4.45863872e-01,  2.05093721e+00,
         2.14609503e-01,  8.78267054e-01],
       [-1.35764434e+00, -1.06526501e+00,  7.28656941e-01,
        -5.87577495e-01, -1.01748940e+00, -1.81438638e-01,
        -1.81438638e-01,  5.83416632e-01,  1.73453087e+00,
         1.12766493e-01,  4.75729815e-01, -8.11585884e-01,
        -6.30711549e-01, -7.83445379e-01,  9.27401263e-01,
         1.68668388e-01,  6.32973690e-01,  1.57835207e-01,
        -3.28125667e-01,  5.82940815e-01, -1.34569249e+00,
         2.24290643e+00,  1.97866266e+00,  1.83337420e+00,
        -4.22463271e-01, -3.57584108e-01, -5.83938711e-01,
         1.45748634e+00,  1.02084939e+00,  1.05899105e+00,
         1.10675021e+00,  1.03733692e+00,  1.04186766e+00,
         1.10522326e+00,  7.92178396e-01, -7.21101950e-01,
        -2.89528868e-01, -1.81083941e-01, -3.67119199e-01,
        -1.52586511e-01, -4.24313643e-01,  2.03481016e+00,
         2.14609503e-01,  9.39862854e-01],
       [-1.35761656e+00, -9.28636523e-01,  7.28656941e-01,
        -5.87577495e-01,  9.82811219e-01, -1.81438638e-01,
        -1.81438638e-01, -1.71404095e+00, -5.52270710e-02,
        -4.76913859e-01, -2.51327437e-01, -8.11407275e-01,
         6.57355972e-01,  1.20692937e+00, -1.15982970e-01,
        -4.15343029e-01, -4.93990341e-01,  1.57835207e-01,
        -4.15537829e-01, -4.05624730e-01, -1.34569249e+00,
         3.30680092e-01,  9.06818465e-01,  9.87257711e-01,
         7.69256443e-02,  7.05846006e+00,  3.59221839e+00,
         9.42776795e-01,  1.04266611e+00,  1.05899105e+00,
         1.10675021e+00,  1.03733692e+00,  1.04186766e+00,
         1.10522326e+00,  1.19670886e+00,  1.38676646e+00,
        -2.89528868e-01, -2.48513441e-01, -1.13037724e-01,
        -1.52586511e-01,  8.63911137e-01,  2.20253144e+00,
         2.14609503e-01,  3.95125002e-01]])

In [234]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [235]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(solver='lbfgs', random_state=1)
classifier

LogisticRegression(random_state=1)

In [236]:
classifier.fit(X_train, y_train)

LogisticRegression(random_state=1)

In [241]:
predictions = classifier.predict(X_test)
pd.DataFrame({"Prediction": predictions, "Actual": y_test}).reset_index(drop=True)

      Prediction  Actual
0              1       0
1              1       0
2              0       0
3              0       1
4              1       1
...          ...     ...
2533           1       0
2534           0       1
2535           1       0
2536           1       0
2537           1       0

[2538 rows x 2 columns]

In [242]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, predictions))

0.5401891252955082

In [243]:
from sklearn.metrics import confusion_matrix, classification_report
matrix = confusion_matrix(y_test, predictions)
print(matrix)

[[914 383]
 [784 457]]

In [244]:
report = classification_report(y_test, predictions)
print(report)

              precision    recall  f1-score   support

           0       0.54      0.70      0.61      1297
           1       0.54      0.37      0.44      1241

    accuracy                           0.54      2538
   macro avg       0.54      0.54      0.52      2538
weighted avg       0.54      0.54      0.53      2538