In [19]:
%matplotlib inline

# import dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import hvplot.pandas
from pathlib import Path
import plotly.express as px
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
import datetime as dt
from config import db_password
import sqlite3

In [20]:
file_path = "./resources/listings_cleaned2.csv"
df = pd.read_csv(file_path,index_col=0)
df.head()

,host_since,host_response_time,host_response_rate,host_is_superhost,host_listings_count,host_total_listings_count,host_identity_verified,neighbourhood_cleansed,zipcode,latitude,...,review_scores_value,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month,host_days_active,time_since_first_review,time_since_last_review
id,,,,,,,,,,,,,,,,,,,,,
958,7/31/08,within a few hours,100%,1,1,1,1,Western Addition,94115,37.76931,...,9.0,1,1,1,0,0,1.60,3958,4+ years,17
7918,6/17/09,within a few hours,100%,0,10,10,1,Haight Ashbury,94117,37.76669,...,8.0,0,9,0,9,0,0.14,3637,4+ years,923
8142,6/17/09,within a few hours,100%,0,10,10,1,Haight Ashbury,94117,37.76487,...,9.0,0,9,0,9,0,0.14,3637,4+ years,263
8339,7/2/09,within an hour,100%,0,2,2,1,Western Addition,94115,37.77525,...,9.0,0,2,2,0,0,0.23,3622,4+ years,295
8739,1/27/09,within an hour,100%,1,2,2,0,Mission,94110,37.75919,...,10.0,1,2,0,2,0,5.61,3778,4+ years,12

In [21]:
#checking dataframe

#df.isna().sum()
#df.columns.values.tolist()
#print(df['zipcode'].value_counts())
#print(df['zipcode'].nunique())

In [22]:
# read in landmass by zipcode csv

file_path = "./resources/sfziplandmass.csv"
masszip = pd.read_csv(file_path)
masszip.head()

   zip_code land_area_sqmeters  land_area_sqmiles  land_area_sqkilometers
0     94102          1,737,490                  1                       2
1     94103          3,512,160                  1                       4
2     94104            200,977                  0                       0
3     94105            956,710                  0                       1
4     94107          4,640,750                  2                       5

In [23]:
#masszip.columns.values.tolist()
#masszip.nunique()
#print(masszip['ZIP Code'].value_counts().sum())

# Below code is connecting to PGadmin database/tables

In [24]:
#python to PGadmin Connection
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/sf_abnb"
engine = create_engine(db_string)
conn = sqlite3.connect('sf_abnb')

In [30]:
#push dataframe to SQL database replaces tables, if_exists we need to append then change replace to append

df.to_sql(name='listings', con=engine, if_exists='replace', index=True,)
masszip.to_sql(name='sfmasszip', con=engine, if_exists='replace',index=False,)

# Pull data into python from SQL pgADMIN- new Dataframe
# SQL to do the join to sfmasszip table

In [26]:
#pull from SQL database
    
df1 = pd.read_sql_query("SELECT * FROM listings LEFT JOIN sfmasszip ON listings.zipcode = sfmasszip.zip_code;", 
                        con=engine)   
df1.head()

,id,host_since,host_response_time,host_response_rate,host_is_superhost,host_listings_count,host_total_listings_count,host_identity_verified,neighbourhood_cleansed,zipcode,...,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month,host_days_active,time_since_first_review,time_since_last_review,zip_code,land_area_sqmeters,land_area_sqmiles,land_area_sqkilometers
0,958,7/31/08,within a few hours,100%,1,1,1,1,Western Addition,94115,...,0,0,1.60,3958,4+ years,17,94115,"2,889,750",1,3
1,7918,6/17/09,within a few hours,100%,0,10,10,1,Haight Ashbury,94117,...,9,0,0.14,3637,4+ years,923,94117,"4,370,660",2,4
2,8142,6/17/09,within a few hours,100%,0,10,10,1,Haight Ashbury,94117,...,9,0,0.14,3637,4+ years,263,94117,"4,370,660",2,4
3,8339,7/2/09,within an hour,100%,0,2,2,1,Western Addition,94115,...,0,0,0.23,3622,4+ years,295,94115,"2,889,750",1,3
4,8739,1/27/09,within an hour,100%,1,2,2,0,Mission,94110,...,2,0,5.61,3778,4+ years,12,94110,"6,022,590",2,6

In [27]:
#remove columns clean up prior to ML

df1 = df1.drop(['zip_code', 'land_area_sqmiles', 'land_area_sqkilometers'], axis=1)
df1.head()

,id,host_since,host_response_time,host_response_rate,host_is_superhost,host_listings_count,host_total_listings_count,host_identity_verified,neighbourhood_cleansed,zipcode,...,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month,host_days_active,time_since_first_review,time_since_last_review,land_area_sqmeters
0,958,7/31/08,within a few hours,100%,1,1,1,1,Western Addition,94115,...,1,1,1,0,0,1.60,3958,4+ years,17,"2,889,750"
1,7918,6/17/09,within a few hours,100%,0,10,10,1,Haight Ashbury,94117,...,0,9,0,9,0,0.14,3637,4+ years,923,"4,370,660"
2,8142,6/17/09,within a few hours,100%,0,10,10,1,Haight Ashbury,94117,...,0,9,0,9,0,0.14,3637,4+ years,263,"4,370,660"
3,8339,7/2/09,within an hour,100%,0,2,2,1,Western Addition,94115,...,0,2,2,0,0,0.23,3622,4+ years,295,"2,889,750"
4,8739,1/27/09,within an hour,100%,1,2,2,0,Mission,94110,...,1,2,0,2,0,5.61,3778,4+ years,12,"6,022,590"